# Python bytecode
__pycache__/
*.py[cod]
*.so

# Virtual environment
venv/
env/
ENV/
.venv/

# Data files and datasets
*.tar.gz
*.zip
data/
datasets/
*.pt



# Log files
*.log
*.out

# System files
.DS_Store
Thumbs.db

# PyTorch Lightning or WandB logs (if any)
lightning_logs/
wandb/
